/*Flexible images */
img {
  max-width:100%;
  height: auto;
}

 body {
  background-color: #000000;
}

body {color:#fff1e0;}

body {
  font-family: Times; 
}

  h1 {
 text-align:center
}

body {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 1rem auto;
}

@media (min-width: 60em){
   nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 1rem;
  }

  
   #top, #bottom, #left, #right {
	background: #FFFFFF;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 30px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top,  {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

figure {
  margin: 0;
}

.work figcaption {
  margin-top: 0.5rem;
}

@media (min-width: 30em) {
  
  figure {
    max-width: 100%; 
  }
  
  .work {
    position: relative;
  }
  
  .work figcaption {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
    padding: 1rem;
    margin-top: 0;
  }
  
  .work:hover figcaption {
    z-index: 0;
  }

}

img {
  padding-top: 10px;
}

.work figcaption {
 padding-top: 10px:
}
