/*Flexible images */
img {
  max-width:100%;
  height: auto;
}

 body {
  background-color: #383c4a;
}

body {color:#e3e4e6;}

body {
  font-family: Times; 
}

  h1 {
 text-align:center
}

body {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 1rem auto;
}

@media (min-width: 60em){
   nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 1rem;
  }

  
   #top, #bottom, #left, #right {
	background: #FFFFFF;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 30px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top,  {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c303b;
}

li {
  float: left;
}

li a, a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #5294e2;
}

figure {
  margin: 0;
}

img {
  padding-top: 10px;
}


